*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
}

header{
    background-image: url("../images/background.jpg");
    height: 45vh; 
    background-size: cover;
    background-position: center;
    color: white;
}

a{
    text-decoration: none;
    font-size: 1em;
    margin-left: 18px;
    color: white;
}

.navbar img{
    width: 8%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.content-Div{
    text-align: center;
    margin: 2em;
    padding: 2em;
}

.content-Div p{
    margin-top: 1em;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.809);
}

h1 , h2{
    font-weight: normal;
    margin-top: 0.2em;
}

.buttons-Div{
    margin-top: 1em;
}

.btn{
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.learn{
    background-color: #8e7754;
    color: white;
    border: 2px solid #8e7754;
}

.learn:hover{
    background-color: white;
    color: #8e7754;
}

.contact{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.contact:hover{
    background-color: white;
    color: #333;
}

main{
    display: flex;
    text-align: center;
    margin: 2em;
    margin-bottom: 0px;
}

main img{
    width: 53%;
}

.text-Div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: left;
}

.text-Div p{
    color: rgba(0, 0, 0, 0.592);
}

.icon-Div{
    display: flex;
    gap: 10px;
}

.icon-Div i{
    color: #8e7754;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.icon-Div p{
    display: inline;
    color: #686868;
}